.vscode
.idea
.DS_Store
google-re2/
foundation/
.gitignore
.gitmodules
.prettierrc.yaml
.eslintrc.yaml
re2Wrapper.cc
*.md
lib/__tests__/
__tests__/
scripts/
compile.sh
tsconfig.json
lib/scripts/updateBuild.*
rollup.config.js
node_modules/
build_js.sh
build_js.shbundle_wasm_for_web.js
